.row{display:flex;flex-wrap:wrap;max-width:100%}
.col-12{width:100%}
.col-11{width:91.66666667%}
.col-10{width:83.33333333%}
.col-9{width:75%}
.col-8{width:66.66666667%}
.col-7{width:58.33333333%}
.col-6{width:50%}
.col-5{width:41.66666667%}
.col-4{width:33.33333333%}
.col-3{width:25%}
.col-2{width:16.66666667%}
.col-1{width:8.33333333%}
@media only screen and (max-width:1020px){.col-sm-12{width:100%}
.col-sm-11{width:91.66666667%}
.col-sm-10{width:83.33333333%}
.col-sm-9{width:75%}
.col-sm-8{width:66.66666667%}
.col-sm-7{width:58.33333333%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666667%}
.col-sm-4{width:33.33333333%}
.col-sm-3{width:25%}
.col-sm-2{width:16.66666667%}
.col-sm-1{width:8.33333333%}
}

body{
    font-family: MetroRegular;
    color: #2d2d2d;
}

*{
    margin: 0;
    padding: 0;
}

.outterbox{
    padding: 64px 200px;
    box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, 0.1);
    border-bottom: #dddddd solid 1px;
}