.avatar{
    display: flex;
    align-items: end;
    position: relative;
    animation-name: aboutContentright;
    animation-duration: 1s;
}
@keyframes aboutContentright{
    from { right: -1500px; }
    to { right: 0; }
}
.contactContainer .content{
    animation-name: aboutContentleft;
    animation-duration: 1s;
    position: relative;
}
@keyframes aboutContentleft{
    from { left: -1500px; }
    to { left: 0; }
}
.avatar img {
    width: 100%;
    height: auto;
}
.content h1{
    font-family: MetroBold;
    font-size: 7vw;
    margin-bottom: 8px;
}.content h5 {
    font-family: MetroLight;
    font-size: 2vw;
    margin-bottom: 24px;
    line-height: 1.3;
}
.contactContainer{
    justify-content: space-evenly;
    padding-bottom: 0;
    background-color: #f4f4f2;
}

.socialIcons {
    flex-direction: column;
    line-height: 3;
}

.socialIcons a{
    color: #2d2d2d;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.2vw;
    height: 3.2vw;
    margin-bottom: 10px;
}
.socialIcons a::after{
    padding-left:5.5vw;
    font-family: MetroBold;
    font-size: 1.7vw;
}
.socialIcons #gmail{
    background-image: url(../../Assets/social_icons/email/Gmail_Logo.png);
}
.socialIcons #github{
    background-image: url(../../Assets/social_icons/github/Frame\ 5.png);
}
.socialIcons #linkedin{
    background-image: url(../../Assets/social_icons/linkedin/Frame\ 3.png);
}

.socialIcons #gmail::after{
    content: "Gmail";
}

.socialIcons #github::after{
    content: "GitHub";
}

.socialIcons #linkedin::after{
    content: "LinkedIn";
}

.socialIcons a:hover{
    color: #e23744;
}

/* mobile design */
@media only screen and (max-width: 960px) {
    .contactContainer .content h1{
        font-size: 18vw;
    }
    .contactContainer .content h5{
        font-size: 7vw;
    }
    .socialIcons a{
        margin-bottom: 15px;
        width: 6vw;
        height: 6vw;
    }
    .socialIcons a::after{
        font-size: 5vw;
        padding-left: 9vw;
    }
}