.social-disc li a{
    padding-left: 6.6rem;
    height: 50px;
    background: url(../../Assets/basicLogoMain.png) no-repeat;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.social-disc li a.facebook {
    background-position: 0px -547px;
    color: #43609c;
}
.social-disc li a.linkedin {
    background-position: 0px -700px;
    color: #0982c0;
}
.social-disc li a.instagram {
    background-position: 0px -751px;
    color: #ef0074;
}
.social-disc li{
    width: 50%;
    margin-bottom: 2em;
}
.social-disc {
    list-style-type: none;
}

.avatar img {
    width: 100%;
    height: auto;
}
.content h1{
    font-family: MetroBold;
    font-size: 7vw;
    margin-bottom: 8px;
}.content h5 {
    font-family: MetroLight;
    font-size: 2vw;
    margin-bottom: 24px;
    line-height: 1.3;
}
.contactContainer{
    justify-content: space-evenly;
}

body{
    background-color: #f4f4f2;
}