.avatar{
    display: flex;
    align-items: end;
}

.avatar img {
    width: 100%;
    height: auto;
}
.content h1{
    font-family: MetroBold;
    font-size: 7vw;
    margin-bottom: 8px;
}.content h5 {
    font-family: MetroLight;
    font-size: 2vw;
    margin-bottom: 24px;
    line-height: 1.3;
}
.contactContainer{
    justify-content: space-evenly;
    padding-bottom: 0;
    background-color: #f4f4f2;
}

.socialIcons {
    flex-direction: column;
    line-height: 3;
}

.socialIcons a{
    color: #2d2d2d;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.2vw;
    height: 3.2vw;
    margin-bottom: 10px;
}
.socialIcons a::after{
    padding-left:5.5vw;
    font-family: MetroBold;
    font-size: 1.7vw;
}
.socialIcons #gmail{
    background-image: url(../../Assets/social_icons/email/Gmail_Logo.png);
}
.socialIcons #github{
    background-image: url(../../Assets/social_icons/github/Frame\ 5.png);
}
.socialIcons #linkedin{
    background-image: url(../../Assets/social_icons/linkedin/Frame\ 3.png);
}

.socialIcons #gmail::after{
    content: "Gmail";
}

.socialIcons #github::after{
    content: "GitHub";
}

.socialIcons #linkedin::after{
    content: "LinkedIn";
}

.socialIcons a:hover{
    color: #e23744;
}