<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutus</title>
    <link rel="stylesheet" href="../../Common-Styles/gridsystem.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="skillContainer row">
        <div class="programming">
            <p>Programming</p>
            <ul>
                <li>C#</li>
                <li>Dotnet</li>
                <li>Rust(kinda)</li>
                <li>Git</li>
                <li>Golang</li>
                <li>Nunit,Nsubstitute</li>
            </ul>
        </div>
        <div class="services">
            <p>SAAS Services</p>
            <ul>
                <li>MSSQL</li>
                <li>Azure Database</li>
                <li>Mongo DB</li>
                <li>Github</li>
                <li>Microservices</li>
                <li>SOA</li>
            </ul>
        </div>
    </div>

    
    <div class="aboutusContainer row">
        <div class="col-6 content">
            <h1>about.</h1>
            <h5>I am a Full stack developer based in Ecolab, Bengaluru.</h5>
            <p>Since 2022, I've enjoyed building cloud-native solutions that enrich life.
                I am a software craftsman who develops products with agility.</p>
            <p>And when I'm not pushing versions in Git, I'm either dancing, baking, or crafting-turning hobbies into delightful surprises!
            </p>
        </div>
        <div class="col-6 avatar">
            <img src="../../Assets/new_main_pic.png" alt="tanya">
        </div>
        <div class="row IconGrid">
            <div class="imageframe">
                <img src="../../Assets/about_grid.png" alt="tanya">
            </div>
            <div class="imageframe">
                <img src="../../Assets/about_grid.png" alt="tanya">
            </div>
            <div class="imageframe">
                <img src="../../Assets/about_grid.png" alt="tanya">
            </div>
            <div class="imageframe">
                <img src="../../Assets/about_grid.png" alt="tanya">
            </div>
            <div class="imageframe">
                <img src="../../Assets/about_grid.png" alt="tanya">
            </div>
            <div class="imageframe">
                <img src="../../Assets/about_grid.png" alt="tanya">
            </div>
        </div>
    </div>

    <div class="randomFacts row">
        <div class="col-4">
            <img src="../../Assets/about_grid.png" alt="random pic">
        </div>
        <div class="col-5 content">
            <h6>Random facts</h6>
            <ul>
                <li>Created and commanded an army of microservices</li>
                <li>Creator of fruit infused chocolates</li>
                <li>Full time Azure Ninja</li>
                <li>Conquering the ancient •NET in battlefield</li>
                <li>Coffee: my constant companion</li>
                <li>Dance is my happy place, my sanctuary</li>
                <li>Unit testing? No headache here!</li>
            </ul>
        </div>
    </div>
    
    <div class="mystory row">
        <img src="../../Assets/about_grid.png" alt="" class="mainbaner">
        <img src="../../Assets/new_main_pic.png" alt="" class="thumbnail">
        <div class="content">
            <h6>My story</h6>
            <p>Learn a little bit more about me, how I got into design, and how I built my career as a product designer. I’ve included key things I've learned, book recommendations, and even some sneak peeks of the first websites I created.</p>
            <a href="#mystory">Read my story</a>
        </div>
    </div>

</body>
</html>