
.avatar img {
    width: 100%;
    height: auto;
}

.aboutusContainer{
    justify-content: space-between;
    background-color: #f4f4f2;
}
.aboutusContainer .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.IconGrid {
    border-top: #dddddd 1px solid;
    justify-content: space-between;
    padding-top: 2rem;
}
.imageframe{
    width: 14.5%;
}
.imageframe img {
    width: 100%;
    height: auto;
    border: white .4vw solid;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}
.imageframe img:hover{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.randomFacts img{
    width: 100%;
    height: auto;
}

.randomFacts ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    line-height: 1.5;
}
.randomFacts ul li {
    margin-bottom: 8px;
    font-size: 1.25vw;
}
.randomFacts .content h2{
    margin-bottom: 16px;
    font-size: 2.5vw;
}

.randomFacts{
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f4f2;
}
.mystory{
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
   
}
.mystoryPic{
    width: 45%;
}
.mystory .mainbaner{
    width: 100%;
    height: auto;
    border: white .8vw solid;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.mystory .mainbaner:hover{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.mystory .content{
    width: 45%;
}
.mystory .content h2{
    margin-bottom: 16px;
    font-size: 2.5vw;
}
.mystory .content p{
    line-height: 1.5;
    margin-bottom: 24px;
    font-size: 1.25vw;
}

.skillContainer{
    justify-content: space-between;
}

.skillContainer > div {
    background-color: white;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: #f4f4f2 .5vw solid;
    padding: 1.4vw;
    width: 35%;
}

.skillContainer > div :hover{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.skillContainer > div > ul{
    padding: 1rem;
    font-size: 1.5vw;
    line-height: 1.5;
    list-style-type: disc;
    margin: 0;
}

.skillContainer > div p{
    position: relative;
    font-size: 2vw;
    margin-bottom: 24px;
    line-height: 1.3;
}
.skillContainer h2{
    margin-bottom: 16px;
    font-size: 2.5vw;
    width: 100%;
}
.skillContainer > div p::after{
    content: "";
    position: absolute;
    align-self: center;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3.2vw;
    height: 3.2vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 1;
}

.programming p::after{
    background-image: url(../../Assets/portfolio/skills_icon/Text.svg);
}

.services p::after{
    background-image: url(../../Assets/portfolio/skills_icon/System.svg);
}
/* fonts */

.aboutusContainer h1{
    font-family: MetroBold;
    font-size: 7vw;
    margin-bottom: 8px;
}
.aboutusContainer h5{
    font-family: MetroLight;
    font-size: 2vw;
    margin-bottom: 24px;
    line-height: 1.3;
}
.aboutusContainer p{
    font-size: 1.2vw;
    line-height: 1.5;
    text-align: justify;
}

.mystory .content a{
    color: #e23744;
    font-size: 1.2vw;
}