<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footerstyle.css">
    <link rel="stylesheet" href="../../Common-Styles/gridsystem.css">
</head>
<body>
    <footer>
        <div class="row">
            <div class="col-12">
                <div class="left">
                    <a href="www.youtube.com" class="transition">© 2024 Tanya Sharma</a>
                </div>
                <nav>
                    <ul>
                        <li class="aboutMe"><a href="#">about</a></li>
                        <li class="portfolio"><a href="#">portfolio</a></li>
                        <li class="blog"><a href="#">blog</a></li>
                        <li class="contactMe"><a href="#">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="gradient-white">
            <a href="#top" class="top">Back to top</a>
        </div>
    </footer>
</body>
</html>