.aboutusContainer{
    flex-direction: row;
}
.aboutusContainer h1{
        font-family: MetroBold;
        font-size: 5vw;
        margin-bottom: 8px;
}

.aboutusContainer h5 {
    font-family: MetroLight;
    font-size: 2vw;
    margin-bottom: 24px;
    line-height: 1.3;
}

.portfoliolist a{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portfoliolist img{
    width: 60%;
    border: .5vw #68686840 solid;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}
.portfoliolist img:hover{
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
}