.social{
    list-style: none;
}
.social li a.Twitter{
    
    color: #189ACD;
    align-items: center;
    padding-left: 6.6rem;
    line-height: 5rem;
    display: block;
    height: 40px;
    background: url(image\ copy.png) no-repeat;
    text-decoration: none;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif; 
}
/* .social li a {

    padding-left: 6.6rem;
    line-height: 5rem;
    display: block;
    height: 40px;
    background: url(image\ copy.png) no-repeat;
    text-decoration: none;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
} */