.portfolioItem img{
    width: 35%;
    height: 300px;
    border-radius: 12px;
}
.portfolioItem .content{
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.portfolioItem{
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 25px;
    background-color: #f4f4f2;

}
.portfolioItem .content h2{
    font-family: MetroBold;
    font-size: 5vw;
    margin-bottom: 8px;
}
.portfolioItem .content .description{
    text-align: justify;
    font-size: 1.15vw;
    margin-bottom: 20px;
}
.portfolioItem .content button{
    background-color: #e2374420;
    color: #e23744;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    width: min-content;
}
.portfolioItem .content .tools{
    color: #e23744;;
}
.portfolioItem .content button:hover{
    background-color: #e2374440;
}
.portfoliolist .portfolioItem:nth-child(odd){
    flex-direction: row-reverse;
}

.portfolioItem .portfolioItem:nth-child(odd) .content{
    align-items: start;
}